<form [formGroup]="addressForm" novalidate (ngSubmit)="onCrearAsignacion()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Asignación de Docente</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select formControlName="id_docente" placeholder="ID Docente" [(ngModel)]="_asigDocente.id_docente">
              <mat-option *ngFor="let docente of collection" [value]="docente.id">
                {{docente.id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

          <div class="col">
            <mat-form-field class="full-width">
              <mat-select formControlName="id_curso" placeholder="ID Curso" [(ngModel)]="_asigDocente.id_curso">
                <mat-option *ngFor="let curso of collection1" [value]="curso.id">
                  {{curso.id}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


        <div class="col">
          <mat-form-field class="full-width">
            <mat-select formControlName="status" placeholder="Status" [(ngModel)]="_asigDocente.status">
              <mat-option *ngFor="let status of _estado" [value]="status.nombre">
                {{status.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input [(ngModel)]="_asigDocente.fecha_inicio" type = "date" matInput placeholder="Fecha de Inicio" formControlName="fecha_inicio">
            <mat-error *ngIf="addressForm.controls['fecha_inicio'].hasError('required')">
              La Fecha de Inicio es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>

      <div class="col">
        <mat-form-field class="full-width">
          <input [(ngModel)]="_asigDocente.fecha_fin" type = "date" matInput placeholder="Fecha Final" formControlName="fecha_fin">
          <mat-error *ngIf="addressForm.controls['fecha_fin'].hasError('required')">
            La Fecha final es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
      <button mat-raised-button routerLink = "/tb_asigDocente"color="primary" type= "button">Regresar</button>
    </mat-card-actions>
  </mat-card>
</form>
