<form [formGroup]="addressForm" novalidate (ngSubmit)="crearCurso()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Curso</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="_curso.nombre" type = "text" placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="addressForm.controls['nombre'].hasError('required')">
              El Nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>


          <div class="col">
            <mat-form-field class="full-width">
              <input matInput [(ngModel)]="_curso.descripcion" type = "text" placeholder="Descripción" formControlName="descripcion" >
              <mat-error *ngIf="addressForm.controls['descripcion'].hasError('required')">
                La Descripción es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
